:root {
    --transition-Time: 0.6s;
}

body {
    background-color: rgb(209, 207, 207);
    font-family: 'Courier New', Courier, monospace;
}


.menuDiv,
.menuBtn {
    display: flex;
    /* justify-content: center; */
}

h1 {
    display: inline-flexbox;
    text-align: center;
    font-size: 4rem;
    margin: 0;
    color: rgb(13, 5, 61);
}

h2 {
    font-size: 2.5rem;
}



.display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    /* position: absolute;
    align-items: center; */
    /* gap: 20px; */
    visibility: hidden;
    opacity: 0;
    transition: all var(--transition-Time);
}


.gameBoard {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(82, 74, 74);
    width: 600px;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 7rem;
    height: 200px;
    color: rgb(131, 130, 130);
}

.cell:hover {
    border-left: none;
    border-top: none;
}

.playerOneScore,
.playerTwoScore {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreOne,
.scoreTwo {
    font-size: 2rem;
}

.menuDiv {
    transition: var(--transition-Time);
}

.winnerUi {
    font-size: 5rem;
    color: rgb(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    transition: all var(--transition-Time);
}


.menuBtn {
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid rgb(15, 15, 15);
    transition: var(--transition-Time);
    /* opacity: 0; */
}

.startBtnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 42%;
    top: 40%;
    width: 20%;
    gap: 20px;
    /* transition: 0.7s; */
}

.startBtn {
    font-size: 7rem;
    border-radius: 20px;
    padding: 30px;
    /* padding-bottom: 30px; */
    border: 4px solid rgb(10, 10, 10);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    /* transition: 0.7s; */
}

span {
    font-size: 12rem;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(131, 130, 130);
}